<div>

  <h1 class="text-center">Sobre</h1>
  <p class="text-capitalize">
    Aplicação desenvolvida como proposta de trabalho semestral, denominado de Projeto Integrador (PI), da Faculdade de Técnologia de Indaiatuba (FATEC).
  </p>
  <h3 class="text-center">
    Desenvolvido pelos alunos:
  </h3>
  <p>
    Bruno Yonezawa Sato - <a href="mailto:brunoyalves@gmail.com">brunoyalves@gmail.com</a>
    <br>
    Adriano César - <a href="mailto:adrianocesar66@gmail.com">adrianocesar66@gmail.com</a>
    <br>
    Yuri Ramos - <a href="mailto:yurirsouza@hotmail.com">yurirsouza@hotmail.com</a>
    <br>
    Jorge Seiji - <a href="mailto:jssugano@gmail.com">jssugano@gmail.com</a>
  </p>

</div>