<li class="item list-group-item mt-3 shadow" [ngClass]="{'disabled': listItem.disabled}" *ngIf="!deleted">
  <div class="item-status">
    <span class="badge badge-success" *ngIf="!listItem.disabled" (click)="checkItem()"><fa class="icon" name="check"></fa></span>
    <span class="badge badge-danger" *ngIf="listItem.disabled" (click)="checkItem()"><fa class="icon" name="times"></fa></span>
  </div>
  <div>
    <span class="item-name">Nome: {{ listItem.name }}</span>
    <span class="item-qtd float-right">Valor: {{ listItem.value * listItem.quantity | currency: 'BRL' }}</span>
    <div>
      <span class="item-category">Quantidade: {{ listItem.quantity }}</span>
      <!-- <span class="badge badge-info float-right"><fa class="icon" name="pencil"></fa></span> -->
    </div>
  </div>
</li>