<li class="list-group-item mt-1" [ngClass]="{'disabled': listItem.disabled}">
  <span class="name">{{ listItem.name }}</span>
  <span class="float-right">
    <span class="badge badge-danger" (click)="removeItem(listItem)"><fa class="icon" name="trash"></fa></span>
    <span class="badge badge-success" *ngIf="!listItem.disabled" (click)="checkItem(listItem)"><fa class="icon" name="check"></fa></span>
    <span class="badge badge-warning" *ngIf="listItem.disabled" (click)="checkItem(listItem)"><fa class="icon" name="check"></fa></span>
  </span>
</li>